<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>About Page</h1>
    <p>The "Football Manager 2022 Player Wages Dataset" captures up-to-date salary information for 3900 players across
        the top 6 football leagues as of 2022. Sourced from Football Manager 2022 (FM22), the dataset provides a
        comprehensive overview of player wages, offering valuable insights into the financial landscape of football.
        Furthermore, the dataset's potential for expansion in Football Manager 2023 (FM23) suggests a dynamic and
        evolving resource, pending the discovery of efficient data extraction methods.</p>
    Dataset Link: <a href="https://www.kaggle.com/datasets/ultimus/football-wages-prediction/">Link</a>
    | Data  : <a href="/data" >link</a>
    <br />
    <div style=" margin: 10px; padding: 10px; border: 2px solid; display: inline-block;" >Columns and Data Type
        <ul>
            <li>Wage : INTEGER </li>
            <li>Age : INTEGER</li>
            <li>Club : TEXT</li>
            <li>League : TEXT </li>
            <li>Nation : TEXT</li>
            <li>Position : TEXT</li>
            <li>Apps : INTEGER</li>
            <li>Caps : INTEGER</li>
        </ul>
        <div>
            Table Name : salaries
        </div>
        <div>
            Database Name:  salary
        </div>
    </div>
</body>

</html>