<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>About</h1>
    <p>
    <h2>FM22 Football Player Salary Dataset (Up to 2022)
    </h2> Description: Explore the salaries of 3,900 football players in the top 6 leagues as of 2022, extracted from the
        game Football Manager 22 (FM22). This dataset covers key player details, including wages, age, club, league,
        nation, position, and performance stats. Data extraction from FM24 holds potential for future dataset expansion.
        Available on Kaggle.</p>
    Dataset Link: <a href="https://www.kaggle.com/datasets/ultimus/football-wages-prediction/">Link</a>
    | Go back to home : <a href="/">link</a>
    <br />
    <div style=" margin: 10px; padding: 10px; border: 2px solid; display: inline-block;">Columns and Data Type
        <ul>
            <li>Wage (INTEGER): The monetary compensation in dollars that a football player receives for their services,
                typically on a weekly or monthly basis. It represents the player's salary.</li>
            <li>Age (INTEGER): The age of the football player, indicating the number of years since their birth.</li>
            <li>Club (TEXT): The name of the football club or team with which the player is currently associated. </li>
            <li>League (TEXT): The name of the football league in which the player's club competes. </li>
            <li>Nation (TEXT): The nationality of the football player, representing the country to which they belong.
            </li>
            <li>Position (TEXT): The specific playing position of the football player on the field, such as forward,
                midfielder, defender, or goalkeeper.</li>
            <li>Apps (INTEGER): The number of appearances the football player has made in official matches for their
                club or national team. It indicates the player's participation in competitive games.</li>
            <li>Caps (INTEGER) : The number of international caps earned by the football player, indicating the times
                they have represented their national team in official matches. "Caps" are a traditional term for
                international appearances.</li>
        </ul>
        <div>
            Table Name : salaries
        </div>
        <div>
            Database Name: salary
        </div>
    </div>
</body>

</html>
