<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
</style>

<body>
    <div style="border: 2px solid; padding: 20px; margin: 10px;" >
        <h1>Football Dataset</h1>
        <div>
            Click here to view a sample of the Data:
            <a href="/data">Link</a>
        </div>
        <div> Click here for a summary of the database being used here: 
            <a href="/about">Link</a>
        </div>
    </div>
</body>

</html>
